<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>Sample6</title>
    </head>
    <body>
        <h1>Sample6</h1>
        <input type="button" value="ボタン1" class="">
        <input type="button" value="ボタン2" class="">
        <input type="button" value="ボタン3" class="">
    </body>
</html>
