<h1>ユーザ名を入力して入室してください</h1>
<script>
            window.onload = function(){
               setTimeout( "location.href='javascript:history.back()' ", 5000);
            }
</script>

<h2>5秒後にログイン画面へ戻ります</h2>
<!--
<pre>{{error.stack}}</pre>
-->
