<div class="container">
    <div class="titlename">
        <h1>Node Chat</h1>
    </div>
    <div class="row">
        <form method="post" action="/room">
            <div class="index-user_name">
                <input type="text" id="userName" name="userName" class="index-user_name_text" placeholder="ユーザー名を入力してください">
            </div>
            <div class="index-enter">
                <input type="button" value="入室する" class="common-button index-enter_button" onclick="enter();">
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/index.js"></script>
