<div class="container">
    <div class="row">
        <h1>Node Chat チャットルーム</h1>
    </div>
    <div class="row">
        <form method="post" action="/">
            <div class="room-login_user">
                ログインユーザ：さん
                <input id="userName" type="hidden" value="">
            </div>
            <div class="room-message">
                <textarea id="message" rows="4" class="room-message_textarea" placeholder="投稿文を入力してください"></textarea>
            </div>
            <div class="room-submit">
                <input type="button" value="投稿" class="common-button room-publish_button" onclick="publish();">
                <input type="button" value="メモ" class="common-button room-memo_button" onclick="memo();">
            </div>
            <div class="room-thread">
                <div id="thread"></div>
            </div>
            <div class="room-exit">
                <input type="button" value="退室する" class="common-button room-exit_button" onclick="exit();">
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/enter.js"></script>
<script src="/javascripts/publish.js"></script>
<script src="/javascripts/memo.js"></script>
<script src="/javascripts/exit.js"></script>
