<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/index.js"></script>
        <title>Sample3</title>
    </head>
    <body>
        <h1>Sample3</h1>
        <input type="button" value="メッセージを入力する" onclick="sendMessage();">
        <div id="thread"></div>
    </body>
</html>
